<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MainPage</title>
</head>
<body>

<a th:href="@{/profil}">Profil</a>

<form method="post" th:action="@{/mainPage}" th:object="${tweets}">
    <input type="text" th:field="${tweets.text}">
    <input type="submit" value="Send">
</form>

<tr th:each="tweet:${tweet}">
    <a th:href="@{'/profil/' + ${tweet.getUser().getId()}}"  th:text="${tweet.getUser().getLogin()}"></a>
    <td th:text="${tweet.text}"></td>
    <td th:text="${tweet.data}"></td><br>
</tr>
</body>
</html>